nav {
    text-align: center;
    clear: both;
}

nav ul {
    height: 2em;
    padding: 0;
    padding-top: .9em;
    background-color: rgba(255, 255, 255, 0.2);
}

nav ul li {
    display: inline;
    padding-right: 1em;
}
nav ul li:first-child {
    padding-left: .1em;
}
nav ul li:last-child {
    padding-right: 0;
}

nav ul li a {
    color: white;
    text-decoration: none;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
    transition: all .2s;
    &:hover {
      color: #2da6ed;
    }
}
