#pageHeader {
    background-image: url("../img/keyboard.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 50vh;
    color: white;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}

#headerIcon {
  float: left;
  display: inline-block;
  width: 70%
}
#pageHeader h1 {
}

#pageHeader h2 {

}

.pull-left {
  float: left;
}

img#headerPic {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  float: left;
  border: 1px solid white;
}

#pageHeader i {
  float: right;
  padding: .4em;
  border-radius: .1em;
  font-size: 30px;
  border: 1px solid white;
  &:hover {
    color: transparent;
    background-color: white;

  }
}
