footer {
  height: 150px;
  background-color: $dark;
  text-align: center;
  font-size: 2em;
  clear: both;
}

footer i {
  padding-top: 50px;
  color: $light;
}

footer p {
  padding-top: 1em;
  color:$light;
  font-size: .5em;
}
 footer i:hover {
  color:$medium;
}
