footer {
  height: 150px;
  background-color: black;
  text-align: center;
  font-size: 2em;
  margin-top: 1em;
}

footer i {
  padding-top: 50px;
  color: white;
}

footer p {
  padding-top: 1em;
  color: white;
  font-size: .5em;
}
 footer i:hover {
  color: #2da6ed;
}
