#pageHeader {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    height: 80px;
    background-color: #1C1F26;
    color: #BFBBB8;
    box-shadow: -1px 3px 6px #13140F;
}

#pageHeader .brand {
  padding: 25px;
  font-weight: bold;
  font-size: 2em;
  font-family: sans-serif;
  display: inline-block;
}

#pageHeader .brand2 {
  display: none;
}

#pageHeader i {
  color: #BFBBB8;
  position: absolute;
  padding: .4em;
  right: 0;
  top: 0;
  border-radius: .1em;
  font-size: 30px;
  margin: 10px;
  &:hover {
    color: #77828C;
    cursor: pointer;
  }
}

#pageHeader .brand span {
  color: #77828C;
}
