#page-nav {
  width: 240px;
  height: 100%;
  position: fixed;
  background: $mediumDark;
  display: inline-block;
  left: -240px;
  top: 0;
  bottom: 0;
  -webkit-transition: left .3s ease-in-out;
  -o-transition: left .3s ease-in-out;
  transition: left .3s ease-in-out;
  text-align: center;
  z-index: 3;
}

#page-nav a {
  text-decoration: none;
  display: block;
  padding: 15px 0;
  border-bottom: 1px solid $light;
  color: $light;
}

#page-nav a:hover {
  color: $mediumLight;
}

#page-nav li:last-child a {
  border-bottom: none;
}
