#page-nav {
  width: 240px;
  height: 100%;
  position: fixed;
  background: #2C3540;
  display: inline-block;
  left: -240px;
  top: 0;
  bottom: 0;
  -webkit-transition: left .3s ease-in-out;
  -o-transition: left .3s ease-in-out;
  transition: left .3s ease-in-out;
  text-align: center;
  z-index: 3;
}

#page-nav a {
  text-decoration: none;
  display: block;
  padding: 15px 0;
  border-bottom: 1px solid #BFBBB8;
  color: #BFBBB8;
}

#page-nav a:hover {
  background: #435C73;
  color: #2C3540;
}

#page-nav li:last-child a {
  border-bottom: none;
}
